@font-face {
  font-family: 'Outfit';
  src:
          //url('/assets/fonts/Lato-Light.woff2') format('woff2'),
  //url('/assets/fonts/Lato-Light.woff') format('woff'),
  url('/assets/fonts/Outfit-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src:
          //url('/assets/fonts/Lato-Light.woff2') format('woff2'),
          //url('/assets/fonts/Lato-Light.woff') format('woff'),
          url('/assets/fonts/Outfit-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src:
  //url('/assets/fonts/Lato-Light.woff2') format('woff2'),
  //url('/assets/fonts/Lato-Light.woff') format('woff'),
url('/assets/fonts/Outfit-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src:
          //url('/assets/fonts/Lato-Light.woff2') format('woff2'),
          //url('/assets/fonts/Lato-Light.woff') format('woff'),
          url('/assets/fonts/Jost-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src:
          //url('/assets/fonts/Lato-Light.woff2') format('woff2'),
          //url('/assets/fonts/Lato-Light.woff') format('woff'),
          url('/assets/fonts/DMSans-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src:
          //url('/assets/fonts/Lato-Light.woff2') format('woff2'),
          //url('/assets/fonts/Lato-Light.woff') format('woff'),
          url('/assets/fonts/DMSans-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}