.form-section {
  background: $form-background;

  &section {
    padding-inline: 40px;
  }

  picture {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, $white 50%, $form-background 50%);
    width: 100%;
    box-sizing: border-box;
    margin-inline: auto;

    img {
      object-fit: cover;
      object-position: left bottom;
      max-width: 1720px;
    }
  }

  h2 + .paragraph--medium {
    margin-top: 33px;
    max-width: 695px;
    text-align: center;
    margin-inline: auto;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0 44px;
    margin-inline: auto;
    padding-inline: 40px;

    &--outsourcing {
      padding: 90px 20px 103px;
    }

    .form-subcontainer {
      max-width: 582px;
    }

    input {
      box-sizing: border-box;
      margin-top: 30px;
      padding: 18px 20px 19px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid $form-border;
      color: $form-input-fill;
      box-shadow: $form-box-shadow;

      &::placeholder {
        color: $form-input-placeholder;
      }

      &:focus-visible {
        outline: $form-border;
      }

      &:focus {
        &::placeholder {
          color: $form-input-fill;
        }
      }

      &:first-of-type {
        margin-top: 63px;
      }
    }

    .button {
      margin-top: 30px;
      width: fit-content;
      align-self: flex-start;
    }
  }
}